<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Dirección de envío</app-title>

  <mat-form-field>
    <mat-label>Dirección </mat-label>
    <textarea
      [(ngModel)]="addressService.address"
      type="text"
      name="password"
      matInput
      placeholder="example@gmail.com"
      [disabled]="false"
    ></textarea>
  </mat-form-field>

  <button
    mat-button
    color="primary"
    *ngIf="authService.isLoggedIn()"
    [disabled]="!authService.user.address"
    (click)="loadDefaultUserAddress()"
  >
    Usar dirección por defecto
  </button>

  <section>
    <app-cool-button class="button-item" (onClick)="location.back()"
      >Volver</app-cool-button
    >
    <app-cool-button
      [disabled]="!addressService.address"
      (onClick)="navigateToAddressConfirmation()"
    >
      Confirmar
    </app-cool-button>
  </section>
</app-center-layout>
