:host {
  max-width: 20rem;
  height: fit-content;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 5px 4px 14px 5px rgba(33, 33, 33, 0.2);
  }

  .selected {
    border: solid 0.2rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      40deg,
      rgba(0, 51, 199, 0.7),
      rgba(209, 149, 249, 0.7)
    );
    transition: border 0.2s;
  }

  section,
  div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
