<mat-card [ngClass]="{ selected: isSelected() }">
  <section>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle
      *ngIf="shoppingCartService.numberOfSelections(product) as numOfSelections"
      >{{ numOfSelections }}</mat-card-subtitle
    >
  </section>

  <img mat-card-image [src]="IMAGE_PATHS[product.category]" />

  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>

  <section>
    <div>
      <app-cool-button (onClick)="addProduct()">+</app-cool-button>
      <app-cool-button (onClick)="removeProduct()">-</app-cool-button>
    </div>
    <app-title fontSize="3rem" lineHeight="initial"
      >{{ product.price }} €</app-title
    >
  </section>
</mat-card>
