.timeText {
  font-weight: 700;
  color: rgb(188, 178, 192);
  font-size: 6rem;
  line-height: 6rem;
  word-wrap: break-word;
  margin: 0;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.clock {
  align-items: center;
  justify-content: center;
  mat-form-field {
    width: 20%;

    input {
      text-align: center;
      color: #283593;
      font-size: 3rem;
      font-weight: 600;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
