<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Hora de entrega estimada</app-title>

  <section class="clock">
    <mat-form-field>
      <input
        #hourField="ngModel"
        [(ngModel)]="hour"
        type="number"
        name="hour"
        matInput
        required
        [disabled]="false"
      />
      <mat-error>No válido</mat-error>
    </mat-form-field>

    <div>:</div>

    <mat-form-field>
      <input
        #minutesField="ngModel"
        [(ngModel)]="minutes"
        type="number"
        name="minutes"
        matInput
        required
        [disabled]="false"
      />
      <mat-error>No válido</mat-error>
    </mat-form-field>
  </section>

  <button mat-button color="primary" (click)="loadClosestDeliveryTime()">
    Usar hora estimada más cercana
  </button>

  <section>
    <app-cool-button (onClick)="location.back()">Volver</app-cool-button>
    <app-cool-button
      (onClick)="navigateToPayment()"
      [disabled]="hourField.errors || minutesField.errors"
      >Continuar</app-cool-button
    >
  </section>
</app-center-layout>
