<button
  mat-button
  [disabled]="shoppingCartService.isEmpty()"
  (click)="goToOrderSummary()"
>
  <img src="assets/shopping/cart.svg" />
  <div *ngIf="shoppingCartService.totalNumber() as total">
    {{ total }}
  </div>
</button>
