img {
  width: 4rem;
  height: 4rem;
}

button {
  padding: 50%;
  border-radius: 100%;
}

div {
  position: absolute;
  top: 10%;
  left: 55%;
  width: 10%;
  height: 10%;

  background-color: #e91e63;
  color: white;
  border-radius: 50%;
  padding: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}
