<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">{{ category | titlecase }}</app-title>

  <section class="flexible-row">
    <app-dish
      *ngFor="let product of products$ | async"
      [product]="product"
    ></app-dish>
  </section>

  <section class="flexible-row">
    <app-cool-button routerLink="/select-category">Volver</app-cool-button>
    <div *ngIf="shoppingCartService.isEmpty()">
      Por favor seleccione algún producto
    </div>
  </section>
</app-center-layout>
