<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">¿Qué comemos hoy?</app-title>

  <section>
    <h2>Selecciona una categoría:</h2>
    <div class="categories">
      <button
        mat-raised-button
        *ngFor="let category of categories$ | async"
        [routerLink]="['/select-product', category]"
      >
        {{ category }}
      </button>
      <button mat-raised-button color="accent" routerLink="/select-menu">
        menu
      </button>
    </div>
  </section>

  <app-cool-button routerLink="..">Volver</app-cool-button>
</app-center-layout>
