<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <section
    [matBadge]="shoppingCartService.totalAmount() + '€'"
    matBadgeSize="large"
  >
    <app-title fontSize="3rem">Resumen de pedido</app-title>
  </section>

  <section class="big-gap">
    <app-product-summary></app-product-summary>
    <app-menu-summary></app-menu-summary>
  </section>

  <section>
    <app-cool-button (onClick)="location.back()">Volver</app-cool-button>
    <app-cool-button
      (onClick)="navigateToAddress()"
      [disabled]="shoppingCartService.isEmpty()"
      >Finalizar Pedido</app-cool-button
    >
  </section>
</app-center-layout>
