section {
  max-width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;

  mat-radio-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    label {
      font-size: 1.2rem;
      white-space: pre-wrap;
      font-weight: 400;
    }
  }
}

div {
  display: flex;
  gap: 1rem;
}
