<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Elegir menú</app-title>

  <app-subtitle fontSize="1.5rem" color="black"
    >Puede elegir un plato de cada categoría:</app-subtitle
  >

  <section>
    <mat-radio-group
      *ngFor="let option of options"
      [(ngModel)]="option.selected"
      (change)="handleSelection()"
    >
      <h3>{{ option.label }}</h3>
      <mat-radio-button
        *ngFor="let product of option.products"
        color="primary"
        [value]="product"
      >
        <label>{{ product.name }}</label>
      </mat-radio-button>
    </mat-radio-group>
  </section>

  <div>
    <app-cool-button routerLink="/select-category">Volver</app-cool-button>
    <app-cool-button
      *ngIf="isMenuSelected()"
      (onClick)="shoppingCartService.addItem(currentMenu)"
      >+</app-cool-button
    >
    <app-cool-button
      *ngIf="shoppingCartService.isInCart(currentMenu)"
      (onClick)="shoppingCartService.removeItem(currentMenu)"
      >-</app-cool-button
    >
  </div>
</app-center-layout>
