<ng-container *ngIf="shoppingCartService.getMenus().length > 0; else noMenus">
  <app-title fontSize="1.5rem" lineHeight="initial">Menus</app-title>
  <app-item-editor
    *ngFor="let menuEntry of shoppingCartService.getMenus()"
    [itemEntry]="menuEntry"
  >
    <section>
      <div>
        <span>Entrante:</span> {{ menuEntry.item.content.starter.name }}
      </div>
      <div><span>Principal:</span> {{ menuEntry.item.content.main.name }}</div>
      <div><span>Postre:</span> {{ menuEntry.item.content.dessert.name }}</div>
      <div><span>Bebida:</span> {{ menuEntry.item.content.drink.name }}</div>
    </section>
  </app-item-editor>
</ng-container>

<ng-template #noMenus>
  <app-subtitle fontSize="1rem">No hay menus seleccionados</app-subtitle>
</ng-template>
