<form #registerForm="ngForm">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input
      [(ngModel)]="registerFormData.name"
      type="text"
      name="name"
      matInput
      placeholder="Juan Torres"
      required
      [disabled]="disabled"
    />
    <mat-error>El nombre es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      [(ngModel)]="registerFormData.email"
      type="email"
      name="email"
      matInput
      placeholder="ejemplo@gmail.com"
      required
      [disabled]="disabled"
    />
    <mat-error>El email es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input
      [(ngModel)]="registerFormData.password"
      type="password"
      name="password"
      matInput
      placeholder="example@gmail.com"
      required
      [disabled]="disabled"
    />
    <mat-error>La contraseña os obligatoria</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dirección</mat-label>
    <textarea
      [(ngModel)]="registerFormData.address"
      type="text"
      name="address"
      matInput
      placeholder="calle Moncloa, 21. Planta 1. Puerta B"
      [disabled]="disabled"
      rows="2"
    ></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="disabled || !registerForm.form.valid"
    (click)="handleSubmit()"
  >
    Enviar
  </button>
</form>
