:host {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  min-height: 10vh;
  padding: 1rem;
  width: 95vw;
}

section {
  display: flex;
  gap: 3rem;
  align-items: center;
}
