<section>
  <app-nav-bar-element link="/">INICIO</app-nav-bar-element>
  <app-nav-bar-element link="/select-category">Carta</app-nav-bar-element>
  <app-nav-bar-element link="/orders">Pedidos</app-nav-bar-element>
</section>

<section>
  <app-subtitle *ngIf="authService.isLoggedIn()" fontSize="2rem" color="black"
    >Hola, {{ authService.user.name }}</app-subtitle
  >
  <app-shopping-cart></app-shopping-cart>
</section>
