:host {
  position: relative;
  display: block;
  min-width: 20vw;

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;

    mat-card-title {
      grid-column-start: 2;
    }

    button {
      justify-self: end;
    }

    & * {
      margin: 0;
    }
  }

  mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  mat-error {
    margin-top: 1rem;
  }
}
