<section *ngIf="getLiterals() as literals">
  <mat-card-title>{{ literals.title }}</mat-card-title>
  <button mat-button (click)="changeMode()">{{ literals.buttonLabel }}</button>
</section>

<mat-spinner *ngIf="showSpinner"></mat-spinner>
<app-login
  *ngIf="mode === 'login'"
  (onSubmit)="login($event)"
  [disabled]="showSpinner"
></app-login>
<app-register
  *ngIf="mode === 'register'"
  (onSubmit)="register($event)"
  [disabled]="showSpinner"
></app-register>

<mat-error *ngIf="errorMsg">{{ errorMsg }}</mat-error>
