<mat-card (click)="modalService.openOrderModal(order)">
  <section>
    <mat-card-title>{{ order?.user?.name }}</mat-card-title>
    <mat-card-subtitle>{{ order.date | date }}</mat-card-subtitle>
  </section>

  <mat-card-content>
    <p>
      <strong>Dirección de envío: </strong>
      <br />
      {{ order.shippingAddress }}
    </p>
    <p>
      <strong>Hora estimada de entrega: </strong>
      <br />
      {{ order.deliveryTime | date: "shortTime" }}
    </p>
    <p>
      <strong>Estado: </strong>
      <br />
      {{ order.state }}
    </p>
    <p *ngIf="order.products.length as numProducts">
      <strong>Número de productos: </strong>
      <br />
      {{ numProducts }}
    </p>
    <p *ngIf="order.menus.length as numMenus">
      <strong>Número de menús: </strong>
      <br />
      {{ numMenus }}
    </p>
  </mat-card-content>

  <section>
    <app-title fontSize="3rem" lineHeight="initial"
      >{{ order.amount }} €</app-title
    >
  </section>
</mat-card>
