:host {
  min-width: 20rem;
  max-width: 40rem;
  height: fit-content;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 5px 4px 14px 5px rgba(33, 33, 33, 0.2);
  }

  section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  app-title {
    width: 100%;
    text-align: right;
  }
}
