<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Pedidos</app-title>

  <section *ngIf="orders$ | async as orders; else loading">
    <ng-container *ngIf="orders.length > 0; else noContent">
      <app-order-box
        *ngFor="let order of orders$ | async"
        [order]="order"
      ></app-order-box>
    </ng-container>

    <ng-template #noContent> No hay pedidos disponibles </ng-template>
  </section>

  <ng-template #loading><mat-spinner></mat-spinner></ng-template>
</app-center-layout>
