.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }

  app-auth-button {
    margin-top: 0em;
  }
}
