<app-nav-bar position="sticky"></app-nav-bar>
<div class="main-container">
  <div class="content">
    <app-title>Bienvenido a Sabor del Himalaya</app-title>
    <app-subtitle>Una experiencia aunténtica</app-subtitle>
    <app-auth-button></app-auth-button>
  </div>
  <img src="assets/backgrounds/fideos.jpg" />
</div>
