:host {
  display: block;

  border-radius: 2rem;
  background: linear-gradient(
      40deg,
      rgba(0, 51, 199, 0.7),
      rgba(209, 149, 249, 0.7)
    )
    border-box;

  padding: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

div {
  color: white;
}

section {
  display: flex;
  gap: 1rem;
  align-items: center;
}
