<ng-content></ng-content>
<section>
  <div>{{ itemEntry.count }}</div>
  <button mat-mini-fab color="basic" (click)="add()">+</button>
  <button mat-mini-fab color="basic" (click)="remove()">-</button>
</section>
