<ng-container
  *ngIf="shoppingCartService.getProducts().length > 0; else noProducts"
>
  <app-title fontSize="1.5rem" lineHeight="initial">Productos</app-title>
  <app-item-editor
    *ngFor="let productEntry of shoppingCartService.getProducts()"
    [itemEntry]="productEntry"
  >
    <div>
      <span>{{ productEntry.item.price }} €</span>
      {{ productEntry.item.name }}
    </div>
  </app-item-editor>
</ng-container>

<ng-template #noProducts>
  <app-subtitle fontSize="1rem">No hay productos seleccionados</app-subtitle>
</ng-template>
