:host {
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & * {
    margin: 0;
  }

  app-title {
    display: block;
    margin-bottom: 0.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .simple-dash {
    margin-left: 0.5rem;
  }

  .double-dash {
    margin-left: 1rem;
  }

  .controls {
    display: flex;
    gap: 0.4rem;
  }

  .disabled {
    opacity: 0.5;
  }
}
