<section class="row">
  <mat-card-title>{{ order?.user?.name }}</mat-card-title>
  <mat-card-subtitle>{{ order.date | date }}</mat-card-subtitle>
  <button
    mat-raised-button
    color="warn"
    (click)="deleteOrder()"
    [disabled]="!ordersService.canDeleteOrder(order)"
  >
    Cancelar
  </button>
</section>

<section>
  <mat-card-subtitle
    >{{ order.shippingAddress }} ({{
      order.deliveryTime | date: "shortTime"
    }})</mat-card-subtitle
  >
</section>

<section *ngIf="order.products.length > 0">
  <app-title fontSize="1rem" lineHeight="initial">Productos:</app-title>
  <div *ngFor="let productEntry of order.products" class="simple-dash row">
    <p>
      <strong>{{ productEntry.product.name }}</strong>
    </p>
    <p>{{ productEntry.amount }}</p>
  </div>
</section>

<section *ngIf="order.menus.length > 0">
  <app-title fontSize="1rem" lineHeight="initial">Menus:</app-title>
  <ng-container *ngFor="let menuEntry of order.menus">
    <div class="simple-dash row">
      <p>
        <strong>Menu #{{ menuEntry.menu.id }}:</strong>
      </p>
      <p>{{ menuEntry.amount }}</p>
    </div>
    <div class="double-dash">
      <p *ngFor="let product of menuEntry.menu.products">
        {{ product.name }}
      </p>
    </div>
  </ng-container>
</section>

<section>
  <app-title fontSize="1rem" lineHeight="initial">Estado:</app-title>
  <div class="controls">
    <app-cool-button
      *ngFor="let option of getOrderStateOptions()"
      [ngClass]="{
        disabled: option !== order.state
      }"
      (onClick)="changeOrderState(option)"
      >{{ option | titlecase }}</app-cool-button
    >
  </div>
</section>
