<form #loginForm="ngForm">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      [(ngModel)]="loginFormData.email"
      type="email"
      name="email"
      matInput
      placeholder="ejemplo@gmail.com"
      required
      [disabled]="disabled"
    />
    <mat-error>El email es obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input
      [(ngModel)]="loginFormData.password"
      type="password"
      name="password"
      matInput
      placeholder="example@gmail.com"
      required
      [disabled]="disabled"
    />
    <mat-error>La contraseña os obligatoria</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="disabled || !loginForm.form.valid"
    (click)="handleSubmit()"
  >
    Login
  </button>
</form>
