<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Confirmar dirección de envío</app-title>
  <div class="tarjeta">
    <p>Por favor, confirme que la dirección de envío es correcta:</p>
    {{ getAddress() }}
  </div>

  <section>
    <app-cool-button (onClick)="location.back()">Volver</app-cool-button>
    <app-cool-button (onClick)="navigateToTime()">OK</app-cool-button>
  </section>
</app-center-layout>
