.tarjeta {
  background: #ffffff;
  border: 1px solid #cbcdd7;
  box-sizing: border-box;
  box-shadow: -4px -4px 4px #ffffff, 2px 4px 12px rgba(73, 77, 213, 0.12);
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}

section {
  display: flex;
  gap: 1rem;
}

p {
  font-weight: bold;
}
