<app-nav-bar position="sticky"></app-nav-bar>
<app-center-layout>
  <app-title fontSize="3rem">Confirmar pedido</app-title>

  <section *ngIf="!loading; else spinner">
    <mat-card class="card">
      <label for="ccn" class="text">Introduce el numero de tu tarjeta: </label>
      <mat-form-field>
        <input
          matInput
          id="ccn"
          type="tel"
          pattern="[0-9]{16,19}"
          autocomplete="off"
          maxlength="19"
          placeholder="xxxx xxxx xxxx xxxx"
        />
      </mat-form-field>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-top: 0.25rem;
        "
      >
        <p class="text">Precio final:</p>
        <p class="text">{{ totalPrice }} €</p>
      </div>
    </mat-card>
  </section>

  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>

  <section class="buttons">
    <app-cool-button (onClick)="location.back()">Volver</app-cool-button>
    <app-cool-button (onClick)="validate()" [disabled]="this.loading"
      >Confirmar</app-cool-button
    >
  </section>
</app-center-layout>
