.buttons {
  display: flex;
  gap: 1rem;
}
.card {
  background: linear-gradient(
    40deg,
    rgba(0, 51, 199, 0.7),
    rgba(209, 149, 249, 0.7)
  );
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: white;
}
::ng-deep .mat-form-field-underline {
  background: white !important;
}
::ng-deep .mat-form-field-infix {
  color: white !important;
}
